@model CrudRiosoft.Models.TELEFONE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TELEFONE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CLI_COD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
