@model IEnumerable<CrudRiosoft.Models.TELEFONE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Site.css" />
<p>
    @Html.ActionLink("Adicionar um Novo Contato", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTE.NOME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUMERO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENTE.NOME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CLI_COD }) |
                @Html.ActionLink("Details", "Details", new { id = item.CLI_COD }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CLI_COD })
            </td>
        </tr>
    }

</table>
